@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply w-full rounded-[10px] text-[22px] font-medium
    }
}

@layer utilities {
    .button-red {
        @apply bg-red-500 hover:bg-red-600 text-white
    }
    .button-default {
        @apply bg-zinc-200 hover:bg-zinc-300 text-black
    }
    .button-indigo {
        @apply bg-indigo-500 hover:bg-indigo-600 text-white
    }
}
* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

p,
h1,
h3,
h4,
ul {
    margin: 0;
}

ul,
button {
    padding: 0;
}

a {
    text-decoration: none;
}
